html{
	background: #d8e2dc;
	position:relative;
	min-height: 100%;

}
.footer{
	color: #fff;
	text-align: center;
	position:absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #495057;
}
.main{
	margin-top: 25px;
	margin-bottom: 20px;
}
.post{
	padding-bottom: 30px;
	margin-bottom: 20px;
}
